.matte-widget {
  touch-action: none;
  height: 100%;
  /* position: fixed; */
  width: 100%;
  background-color: white;
  top: 0px;
  left: 0px;
}
.select {
  cursor: pointer;
}
.framed_ios,
.framed_ios > text,
.framed_ios > g > rect,
.framed_ios > rect,
.framed_ios > image,
.framed_ios > g > image,
.framed_ios > ellipse {
  outline: 3px solid green;
}

.framed {
  outline: 3px solid green;
}

.unframed,
.unframed > text,
.unframed > g > rect,
.unframed > rect,
.unframed > image,
.unframed > ellipse {
  outline: 0px dotted green;
}

.re-appear {
  visibility: visible;
}

.disappear {
  visibility: hidden;
}

.drawing-playback-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 40px;
}

body {
  background-color: #c3cbdd;
}

.card {
  background-color: #fff;
  max-width: 95%;
  min-height: 70vh;
  margin: 3vh auto;
  border: 1px solid #dbd8de;

  box-shadow: 0.1em 0.1em 0.4em rgba(47, 47, 47, 0.411);
  border-radius: 0.15em;
}

.header {
  background-color: #fff;
  max-width: 95%;
  margin: 3vh auto;
  border: 1px solid #dbd8de;
  box-shadow: 0.1em 0.1em 0.4em rgba(47, 47, 47, 0.411);
  border-radius: 0.15em;
}

.header > .content {
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}

.action-wrapper {
  display: flex;
  flex-flow: row;
  align-content: flex-start;
  align-items: center;
}

.box {
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-radius: 0.15em;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label,
.input-set-ans {
  max-width: 80%;
  padding: 5px 10px;
  cursor: pointer;
}

.inputfile-1 + label,
.input-set-ans {
  color: #c3cbdd;
  background-color: #4168c3;
}

.inputfile + label svg,
.input-set-ans svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.playback-tool {
  text-align: center;
  vertical-align: center;
  height: 30px;
  width: 35px;
  margin: 6px 3px;
  /* color: #e4e4e4; */
  line-height: 30px;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 4px;
}

.playback-tool:hover {
  background-color: #f39c12;
  color: #eeeeee;
}
